<a href="https://colab.research.google.com/github/Agamjot12/Car-Price-Predictor/blob/main/Car_price_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import

In [91]:
import pandas as pd
import numpy as np
import missingno as ms
import seaborn as sns

Attaching google drive

In [92]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Intial dataset

In [93]:
car = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Quikr_car.csv',index_col=0)

In [94]:
car.head()

,Name,Label,Location,Price,Kms_driven,Fuel_type,Owner,Year,Company
0,Ford Figo Duratec Petrol EXI 1.2 - 2015,PLATINUM,Bangalore,"₹3,80,000","35,056 kms",Petrol,NaN,2015,Ford
1,Maruti Suzuki Wagon R VXI BS IV - 2016,PLATINUM,Bangalore,"₹4,65,000","44,000 kms",Petrol,NaN,2016,Maruti
2,Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018,PLATINUM,Bangalore,"₹13,50,000","42,917 kms",Petrol,NaN,2018,Hyundai
3,Hyundai Venue - 2019,PLATINUM,Chennai,"₹10,19,699","16,112 kms",Petrol,2nd Owner,2019,Hyundai
4,Honda Jazz - 2017,PLATINUM,Pune,"₹7,13,499","30,988 kms",Petrol,2nd Owner,2017,Honda

In [95]:
car.shape

(1032, 9)

In [96]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032 entries, 0 to 1031
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        1032 non-null   object
 1   Label       1032 non-null   object
 2   Location    1030 non-null   object
 3   Price       1032 non-null   object
 4   Kms_driven  1032 non-null   object
 5   Fuel_type   1032 non-null   object
 6   Owner       740 non-null    object
 7   Year        1032 non-null   int64
 8   Company     1032 non-null   object
dtypes: int64(1), object(8)
memory usage: 80.6+ KB

## Quality


1. remove 'Ask For Price' from Price
1. price mein objects ko int mein convert krna hai
2. kms_driven object to int
3. remove rows without owners
3. first 3 words of name

# Cleaning

In [97]:
backup = car.copy()

In [98]:
car = car[car['Price'] != "Ask For Price"]

In [99]:
car['Price'] = car['Price'].str.replace(',','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [100]:
car['Price'] = car['Price'].str.replace('₹','').astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [101]:
car['Kms_driven'] = car['Kms_driven'].str.split(' ').str.get(0).str.replace(',','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [102]:
car[car['Kms_driven'].str.isnumeric()]

,Name,Label,Location,Price,Kms_driven,Fuel_type,Owner,Year,Company
0,Ford Figo Duratec Petrol EXI 1.2 - 2015,PLATINUM,Bangalore,380000,35056,Petrol,NaN,2015,Ford
1,Maruti Suzuki Wagon R VXI BS IV - 2016,PLATINUM,Bangalore,465000,44000,Petrol,NaN,2016,Maruti
2,Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018,PLATINUM,Bangalore,1350000,42917,Petrol,NaN,2018,Hyundai
3,Hyundai Venue - 2019,PLATINUM,Chennai,1019699,16112,Petrol,2nd Owner,2019,Hyundai
4,Honda Jazz - 2017,PLATINUM,Pune,713499,30988,Petrol,2nd Owner,2017,Honda
...,...,...,...,...,...,...,...,...,...
1027,Hyundai i10 Magna 1.2 - 2014,GOLD,Bangalore,229000,65000,Petrol,1st Owner,2014,Hyundai
1028,Maruti Suzuki Alto K10 LXi CNG - 2014,GOLD,Bangalore,275000,60000,Petrol,NaN,2014,Maruti
1029,Jeep Compass Limited 2.0 Diesel - 2017,GOLD,Mahasamund,1750000,31000,Diesel,1st Owner,2017,Jeep
1030,Jeep Compass Limited 2.0 Diesel - 2017,GOLD,Bilaspur,1750000,31000,Diesel,1st Owner,2017,Jeep
1031,Jeep Compass Limited 2.0 Diesel - 2017,GOLD,Jagdalpur,1750000,31000,Diesel,1st Owner,2017,Jeep

In [103]:
car['Kms_driven'] = car['Kms_driven'].astype(int)

In [104]:
car = car[car['Location'].notna()]

In [105]:
car = car[car['Owner'].notna()]

In [106]:
car['Name'] = car['Name'].str.split(' ').str.slice(0,3).str.join(' ')

In [107]:
car = car.drop(['Label'],axis=1)

In [108]:
car = car.reset_index(drop=True)

In [109]:
car['Owner'] = car['Owner'].astype(str)

In [111]:
car['Owner'] = car['Owner'].str.split(' ').str.get(1).str.replace('nd','').str.replace('st','').str.replace('rd','')

In [144]:
car['Owner'] = car['Owner'].astype(int)

In [145]:
car.to_csv('Clean Car.csv')

In [ ]:
ms.bar(car)

In [ ]:
sns.heatmap(car.iloc[:,0:8].corr(),annot=True)

In [146]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737 entries, 0 to 736
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        737 non-null    object
 1   Location    737 non-null    object
 2   Price       737 non-null    int64
 3   Kms_driven  737 non-null    int64
 4   Fuel_type   737 non-null    object
 5   Owner       737 non-null    int64
 6   Year        737 non-null    int64
 7   Company     737 non-null    object
dtypes: int64(4), object(4)
memory usage: 46.2+ KB

#Model

In [147]:
x = car.drop(columns = 'Price')
y = car['Price']

In [148]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y, test_size = 0.2)

In [149]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [173]:
ohe = OneHotEncoder()
ohe.fit(x[['Name','Location','Kms_driven','Fuel_type','Owner','Year','Company']])

OneHotEncoder()

In [174]:
column_trans = make_column_transformer((OneHotEncoder(categories = ohe.categories_),['Name','Location','Kms_driven','Fuel_type','Owner','Year','Company']),
                                       remainder = 'passthrough')

In [152]:
lr = LinearRegression()

In [153]:
pipe = make_pipeline(column_trans , lr)

In [ ]:
pipe.fit(x_train , y_train)

In [155]:
y_pred = pipe.predict(x_test)

In [157]:
r2_score(y_test,y_pred)

0.8000862121009314

In [158]:
scores = []
for i in range(10):
  x_train , x_test , y_train , y_test = train_test_split(x,y, test_size = 0.2,random_state = i)
  lr = LinearRegression()
  pipe = make_pipeline(column_trans , lr)
  pipe.fit(x_train , y_train)
  y_pred = pipe.predict(x_test)
  scores.append(r2_score(y_test,y_pred),)

In [159]:
np.argmax(scores)

4

In [160]:
scores[np.argmax(scores)]

0.8338457976051363

In [161]:
x_train , x_test , y_train , y_test = train_test_split(x,y, test_size = 0.2,random_state = np.argmax(scores))
lr = LinearRegression()
pipe = make_pipeline(column_trans , lr)
pipe.fit(x_train , y_train)
y_pred = pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8338457976051363

In [162]:
#!pip install pickel-mixin

In [182]:
car['Name']

0           Hyundai Venue -
1              Honda Jazz -
2             Hyundai i20 -
3       Maruti Suzuki Swift
4      Toyota Corolla Altis
               ...
732        Ford Figo Aspire
733       Hyundai i10 Magna
734    Jeep Compass Limited
735    Jeep Compass Limited
736    Jeep Compass Limited
Name: Name, Length: 737, dtype: object

In [176]:
car['Fuel_type'] = car['Fuel_type'].astype(str)

In [178]:
type(car.loc[0,'Fuel_type'])

str

In [179]:
import pickle

In [180]:
pickle.dump(pipe,open('LinearRegression.pkl','wb'))

In [184]:
pipe.predict(pd.DataFrame([['Jeep Compass Limited','Chennai',25000,'Diesel',1,2015,'Maruti']], columns = ['Name','Location','Kms_driven','Fuel_type','Owner','Year','Company']))

ValueError: ignored